{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Примеры. Построение автомобильного мультимаршрута</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="http://yandex.st/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script lanaguage="JavaScript" type="text/javascript" src="{% static 'js/multiroute_driving.js' %}"></script>
    <script lanaguage="JavaScript" type="text/javascript" src="{% static 'js/server_post.js' %}"></script>
    <style>
        html, body, #map {
            width: 600px; height: 400px; padding: 0; margin: 0;
        }
    </style>
</head>
	<body>
	{% csrf_token %}
		<div id="map"></div>
    	<div id="viewContainer"></div>
		<div>
			<input type="text" name="start" id="start" >
			<input type="text" name="end" id="end" />
			<button onclick="create_way_from_names_of_places()">Построїть</button>
			<button id="create_way" onclick="create_way_from_points()">Построить точками</button>
			<button onclick="click_on_map()">Ставить точки</button>
			<button id="post_data" onclick="return_data_route()">data</button>
		</div>
	</body>
</html>