{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script lanaguage="JavaScript" type="text/javascript" src="{% static 'js/test.js' %}"></script>
</head>
<body>
	<button id="get" onclick="getMethod()">Get SmTh</button>
	{% csrf_token %}

    <form action="/api/users/1/"
          method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <fieldset>
        	<p>Username: <input type="text" id="username" name="username" /></p>
        	<p>Password: <input type="password" id="password" name="password" /></p>
        	<p>E-mail: <input type="text" id="email" name="email" /></p>
        	<button id="update" name="_method" value="PUT">Submit</button>
        </fieldset>
    </form>
        	

    <form action="/api/users/5/"
          method="POST" class="form-horizontal" novalidate>
        <fieldset>
        	{% csrf_token %}
    		<button id="delete" name="_method" value="DELETE">Delete</button>
        </fieldset>
    </form>
</body>
</html>